<a href="https://colab.research.google.com/github/Rohith18744/2216179_AIML_Bootcamp_2023/blob/main/Assign1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#1)
#string
str="This is the world of python"
#indexing
print(str[0])
print(str[:-1])
print(str[0:5:7])
print(str[0:5:-2])
#reverse a string
print(str[::-1])
#string methods
my_str="I am doing python programming"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())
print(my_str.lstrip())
#string operations
str1="hello"
str2="globe"
print(str1+str2)
print(str1+str1)

T
This is the world of pytho
T

nohtyp fo dlrow eht si sihT
I AM DOING PYTHON PROGRAMMING
i am doing python programming
i AM DOING PYTHON PROGRAMMING
I am doing python programming
helloglobe
hellohello

In [6]:
#2)
#Lists
list1=[9,5,3,7]
list2=[1,'hi',9,8,'to']
list3=['benz','audi','jaguar','range rover']

#indexing
print(list1[2:3])
print(list2[-1])
print(list3[:6])
#nested list
N_list=["america","bye",list1,list2[3]]
#list methods
list1.append(5)
print(list1)
l3=[3,6,9,5,6,9]
print(l3.count(9))
print(len(l3))
print(l3[::-1])
l3.reverse()
print(l3)
l3.sort()
print(l3)

[3]
to
['benz', 'audi', 'jaguar', 'range rover']
[9, 5, 3, 7, 5]
2
6
[9, 6, 5, 9, 6, 3]
[9, 6, 5, 9, 6, 3]
[3, 5, 6, 6, 9, 9]

In [12]:
#3)
#Tuples
tup_1=(1,2,3,4,5,6,7,8)
tup_2=("three",78.4,5,8,6)
N_tup=("hai",tup_1,tup_2)
print(N_tup[-1][-1])
#tuple methods
print(tup_1.count(1))
print(tup_1.index(2))
print(max(tup_1))
print(min(tup_1))
print(tup_1[1:6])
print(tup_2[:-3])
print(tup_1[7:3])
print(tup_2[:7])

6
1
1
8
1
(2, 3, 4, 5, 6)
('three', 78.4)
()
('three', 78.4, 5, 8, 6)

In [13]:
#4)
#dictionaries
my_dict={'name':'microsoft',101:'english'}
print(my_dict)
country_capital = {"India": "New Delhi", "England": "London"}
print("Initial Dictionary: ",country_capital)

country_capital["China"] = "Bejing"

print("Updated Dictionary: ",country_capital)
student_id = {121: "steve", 221: "mark", 183: "Elon"}
print("Initial Dictionary: ", student_id)
del student_id[221]
print("Updated Dictionary ", student_id)

{'name': 'microsoft', 101: 'english'}
Initial Dictionary:  {'India': 'New Delhi', 'England': 'London'}
Updated Dictionary:  {'India': 'New Delhi', 'England': 'London', 'China': 'Bejing'}
Initial Dictionary:  {121: 'steve', 221: 'mark', 183: 'Elon'}
Updated Dictionary  {121: 'steve', 183: 'Elon'}

In [14]:
#5)
#sets
s1=(-1,7,0,6)
my_set1=("hi",1.1,5)
l1=[1,2,3,4]
print(l1)

#set operation
a={1,2,4}
b={4,5,7}
print(a|b)
print(a.union(b))
print(b.union(a))

print(a&b)
print(a.intersection(b))
print(b.intersection(a))

print(a-b)
print(a.difference(b))
print(b.difference(a))

[1, 2, 3, 4]
{1, 2, 4, 5, 7}
{1, 2, 4, 5, 7}
{1, 2, 4, 5, 7}
{4}
{4}
{4}
{1, 2}
{1, 2}
{5, 7}

In [15]:
#6)
x=71
print(bin(x))
print(hex(x))
print(oct(x))

0b1000111
0x47
0o107

In [16]:
#7)
#Arithmetic operator
a=8
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

12
4
32
2.0
0
4096
2

In [17]:
#8)
#assignment operator
a=7
b=8
c=a+b
print(c)
c-=a
print(c)
a += b
print(a)
a*=b
print(a)
a/=b
print(a)
a%=b
print(a)
a//=b
print(a)

15
8
15
120
15.0
7.0
0.0

In [18]:
#9)
#comparsion operateor
a=6
b=7
a>=b
print(a)
a==b
print(a)
a<=b
print(a)
a<<b
print(a)
a>>b
print(a)
a!=b
print(a)

6
6
6
6
6
6

In [19]:
#10)
#logical operator
x=True
y=False
print('x and y is:',x and y)
print('x or y is:',x or y)
print('x not y is:',not y)

x and y is: False
x or y is: True
x not y is: True

In [20]:
#11)
#Bitwise operator
a=18
b=56
print(a|b)
print(a&b)
print(~a)
print(a^b)
print(a>>2)
print(a<<2)

58
16
-19
42
4
72

In [21]:
#12)
#membership operator
x='who are you '
print('w' in x)
a = 12
b = 17
list = [1, 2, 3, 4, 5 ];

if ( a in list ):
   print ("Line 1")
else:
   print ("Line 1!")

if ( b not in list ):
   print ("Line 2")
else:
   print ("Line 2!")

a = 2
if ( a in list ):
   print ("Line 3")
else:
   print ("Line 3 !")

True
Line 1!
Line 2
Line 3

In [22]:
#13)
#identity operator
x1=5
y1=6
x2='hai'
y2="bye"
x3=[5,6,7]
y3=[1,2]
print(x1 is not y1)
print(x2 is  y2)
print(x3 is y3)

True
False
False

In [25]:
#14)negative indexing for list and applying silcing
list1= [7,8,5,3,5,2,9,7,5,8,1,4,3]
print(list1[::-1])
print(list1[1:9])
print(list1[3:9:2])
print(list1[-1:-3:-5])

[3, 4, 1, 8, 5, 7, 9, 2, 5, 3, 5, 8, 7]
[8, 5, 3, 5, 2, 9, 7, 5]
[3, 2, 7]
[3]

In [26]:
#15)
print('A series of character designated as one object known as a string'[::-1][4::3])
print('----------')
print('Welcome to python traing program'[3:10][::-1])

taawkcbe  tgerca  is
----------
ot emoc

In [27]:
#16)
P_phrase="was it a car or a cat I saw"
print(P_phrase[::-1].upper())

WAS I TAC A RO RAC A TI SAW

In [28]:
#17)
x=int(input())
y=2*x
print('Z'*x+'O'*y)

5
ZZZZZOOOOOOOOOO