<a href="https://colab.research.google.com/github/Rohith18744/2216179_AIML_Bootcamp_2023/blob/main/Day_2_Bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=3
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

5
1
6
1.5
1
9
1

In [2]:
#comparsion operator

a>=b
a==b
a<=b
a<<b
a>>b
a!=b

True

In [4]:
#assignment operator
a=10
b=5
c=a+b
c-=a

In [5]:
#logical operator
x=True
y=False
print('x and y is:',x and y)
print('x or y is:',x or y)
print('x not y is:',not y)

x and y is: False
x or y is: True
x not y is: True

In [6]:
#Bitwise operator
a=13
b=14
print(a&b)
print(a|b)
print(~a)
print(a>>2)
print(a<<2)

12
15
-14
3
52

In [7]:
#membership operator
x='hello world'
print('w' in x)

True

In [8]:
#identity operator
x1=5
y1=5
x2='hello'
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [10]:
a=int(input("enter a number"))
print(a)
b=input("enter the string")
print(b)

enter a number5
5
enter the stringhello
hello

In [11]:
#string
str="rohith"
#indexing
print(str[0])
print(str[-1])
print(str[0:5])
print(str[0:5:2])
#reverse a string
print(str[::-1])
#string methods
my_str="I am learning python"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())
print(my_str.lstrip())
#string operations
str1="hello"
str2="world"
print(str1+str2)
print(str1+str1)

r
h
rohit
rht
htihor
I AM LEARNING PYTHON
i am learning python
i AM LEARNING PYTHON
I am learning python
helloworld
hellohello

In [12]:
#string formats
name="rohith"
language="python"
year=2023
print(name,"is teaching",language,"programming in",year)
#format
print("{} is teaching {} programming in {}".format(name,language,year))
#placeholder
print("%s is teaching %s programming in %d"%(name,language,year))
#rawstring 'f'
print(f"{name} is teaching {language} programming in {year}")

rohith is teaching python programming in 2023
rohith is teaching python programming in 2023
rohith is teaching python programming in 2023
rohith is teaching python programming in 2023

In [13]:
#Lists
my_list=[1,2,3,4]
my_list1=[1,'hello','3.0']
my_list2=['apple','banana','cherry']

#indexing
print(my_list[2])
print(my_list1[-1])
print(my_list[:3])
#nested list
N_list=["dragonfruit","hi",my_list,my_list[1]]
#list methods
my_list.append(5)
print(my_list)
l1=[3,6,9,12,43,4,5,6,9]
print(l1.count(4))
print(len(l1))
print(l1[::-1])
l1.reverse()
print(l1)
l1.sort()
print(l1)

3
3.0
[1, 2, 3]
[1, 2, 3, 4, 5]
1
9
[9, 6, 5, 4, 43, 12, 9, 6, 3]
[9, 6, 5, 4, 43, 12, 9, 6, 3]
[3, 4, 5, 6, 6, 9, 9, 12, 43]