<a href="https://colab.research.google.com/github/Rohith18744/2216179_AIML_Bootcamp_2023/blob/main/Day_4_Bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#decision making

#if statement
var=100
if var>0:
  print("true")
  print(var)

true
100

In [10]:
#if -- else statement


var=-1
if var>0:
  print("true")
else:
  print("false")

#nested if statements
age=int(input("Enter age"))
if age>0: 
    if age>0 and age<=2:
       print("free ticket")
    elif age>2 and age<15:
       print("half ticket")
    elif age>=15 and age<60:
       print("full ticket")
    elif age>=60:
       print("discounted ticket")

false
Enter age6
half ticket

In [12]:
#loops
numbers=[1,2,3,4,5,6,7,8,9]
for i in range(1,11):
  print(i)
sum=0
for val in numbers:
  sum=sum+val
print("the sum is",sum)

for i in range(1,11,2):
  print(i)

1
2
3
4
5
6
7
8
9
10
the sum is 45
1
3
5
7
9

In [13]:
#while loop
count=1
while(count<11):
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9
10

In [15]:
#nested loop

#nested for
x=[[12,7,3],[4,5,6],[7,8,6]]
y=[[5,8,1],
   [1,1,0],
   [5,3,0]]
res=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
  print(r)

[17, 15, 4]
[5, 6, 6]
[12, 11, 6]

In [ ]:
#nested while loop
num=int(input("enter until which table you need"))
i=1
while(i<=num):
  print(f"table {i}")
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("---------------")
  i=i+1

In [24]:
#functions

def greet(name):
  '''this function greets a person'''
  print("HELLO \t "+name+ "\t good morning")
greet("rohith")

HELLO,	 rohith	 good morning

In [ ]:
# default
def A(a,b=1,c=2):
  return a+b+c

In [19]:
# control statements
#break
for q in "python":
  if q=="h":
    break
  print("current letter",q)
#continue
for q in "python":
  if q=="h":
    continue
  print("current letter",q)
#pass
for q in "python":
  if q=="h":
    pass
    print("this is a pass block")
  print("current letter",q)

current letter p
current letter y
current letter t
current letter p
current letter y
current letter t
current letter o
current letter n
current letter p
current letter y
current letter t
this is a pass block
current letter h
current letter o
current letter n

In [25]:
#keyword
def A(a,b=1,c=2):
  return a+b+c
  print(A(a=2,b=3))
  print(A(c=3,a=1,b=2))

In [26]:
#arbitary keywords
def key_args(**kwargs):
  return kwargs

myd=key_args(Apples=30,Bananas=69,Cherries=50)
print(myd['Apples'])
print(myd)

30
{'Apples': 30, 'Bananas': 69, 'Cherries': 50}

In [27]:
#higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("HI , I am a Higher Order Function")
  print(greet)
explain(shout)
explain(whisper)

HI , I AM A HIGHER ORDER FUNCTION
hi , i am a higher order function